@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*, *::before, *::after{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

$primary-color: #273568;
$second-color: white;

section{
    background-color: #E6EFF6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    place-items: center;
    min-height: 100vh;
}

.card{
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    min-height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 2.50%;
    margin-bottom: 2.50%;
    padding:2.50%;
    img{
        width: 25%;
        height: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.50%;
        margin-bottom: 2.50%;
    }
    h2{
        color:$primary-color;
        font-size: 100%;
    } 
    hr{
        border: 1px solid grey;
        width: 50%;
    }
    p{
        margin: 2%;
    }
    a{
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
        padding: 4%;
        margin-bottom: 7.50%;
        &:hover{
            color:$second-color;
            background-color: #499ed6;
            border-radius: 25px;
            box-shadow:  0 4px 8px 0 rgb(0 0 0 / 50%);
        }
    }
}

img, h2, hr {
    margin-top: 7.50%;
    margin-bottom: 7.50%;
}

@media screen and (max-width:1300px) and (min-width:950px) {
    section{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:950px) and (min-width:650px) {
    section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:650px) and (min-width:100px) {
    section{
        grid-template-columns: repeat(1, 1fr);
    }
}